* {
    box-sizing: border-box;
    text-align: center;
     }
  body{
    background-color:#777;
    width: 960px;
    font-family: Arial, Helevetica Neue, Helvetica, sans-serif;
    font-size: 18px;
  }
      
  .item {
    border: 2px solid;
    margin: 0 2em;
    padding: 1em; 
  }

  .footer{
    border: 2px solid grey;
  }
  .aside{
    float: right;
    border: 2px solid;
  }
  .flex-container{
    display:flex;
    justify-content: center;
    border: 2px solid;
    padding: 2em;
    margin: 5px;
    background-color:#ebebeb;
    width: 495px;
  }
  